h1 {
	text-align: center;
	font-family: "Inconsolata", monospace;
	font-size: 5em;
	color: #ff7800;
	padding: 0;
	margin: 30px 0 20px;
}

p {
	text-align: justify;
	font-family: "Inconsolata", monospace;
	font-size: 1em;
	color: #c1c1c1;
	padding: 0;
	margin: 1em;
}

.contact {
	display: inline;
}

.button {
	margin: auto 10px auto 10px;
	-webkit-filter: grayscale(100);
	filter: grayscale(100);
	transition: all 0.5s ease;
}

.button:hover {
	-webkit-filter: grayscale(0);
	filter: grayscale(0);
	transition: all 0.5s ease;
}

html {
	background-color: transparent;
}

.container {
	max-width: 480px;
	display: block;
	margin: 15% auto 0;
	padding: 0 20px;
	text-align: center;
	position: absolute;
	z-index: 1;
	left: 0;
	right: 0;
}

#indexcanvas {
	z-index: -1;
	background: #303030;
	position: absolute;
	display: block;
	left: 0px;
	right: 0px;
	top: 0px;
	bottom: 0px;
	width: 100%;
	height: 100%;
}

a {
	color: grey;
}

a::before {
	content: '';
}

.fa-envelope {
	color: grey;
	font-size: 32px;
}

.fa-envelope:hover {
	color: white;
	font-size: 32px;
	transition: all 0.5s ease;
}